---
import { Image } from 'astro:assets';
import Layout from '@/layouts/BaseLayout.astro';
import Greeting from '@/components/Greeting.astro';
import myImage from '@/images/img01.webp';

---
<Layout>
	<Image src={myImage}
		   alt="Example Image"
           class="responsive-image"
    />
	<h1>Welcome to Astro V5 Template</h1>
	<Greeting name="Astro User" />
	<p>This is a demo project showcasing the features of Astro.js version 5.x.</p>
</Layout>

<style>
    .responsive-image-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .responsive-image {
        max-width: 100%;
        height: auto; /* Damit das Seitenverhältnis erhalten bleibt */
        width: auto;
        display: block; /* Das verhindert, dass um das Bild herum zusätzlicher Platz bleibt */
    }

</style>
