---
import Layout from '@/layouts/BaseLayout.astro';
import SlowComponent from '@/components/SlowComponent.astro';
---
<Layout>
    <h1>Server Island Example</h1>
    <SlowComponent server:defer/>
    <p>Page rendered, please wait 5 seconds!</p>
</Layout>
